<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model With Page Factories">

<listeners>
  
   <listener class-name="org.uncommons.reportng.HTMLReporter"/>
   <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

  </listeners>
  
  
  
<test name ="Login Test">
    <classes>    
      <class name="com.pol.testcases.FlightSearchTest"/>     
    </classes>
     </test> <!-- Test -->
     
     
  <test name ="CreateAccount Test">
    <classes>    
      <class name="com.pol.testcases.LoginTest"/>     
    </classes>
     </test> <!-- Test -->
     
</suite> <!-- Suite -->
